<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 400px;">
    <ul class="nav nav-pills flex-column mb-auto">
        @for(item of categories; track $index;) {
            <li class="nav-item" style="display: flex;" >
                <img [src]="item.img" alt="">
                <a [routerLink]="['/category', item.id]" [routerLinkActive]="'active'" class="nav-link" aria-current="page">
                  {{ item.title }}
                </a>
              </li>
        }
    </ul>
  </div>