.discord-button {
    background-color: #7289DA; /* Couleur de fond du bouton */
    border-color: #7289DA; /* Couleur de la bordure du bouton */
    color: #FFFFFF; /* Couleur du texte du bouton (blanc dans cet exemple) */
}